<!DOCTYPE html>
<html>
  <head>
    <title>Drive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'materialize' %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGyd3bFaAggdq9Fj9KsGuBA9T2QxPEgMg&callback=initMap">
    </script>
  </body>
</html>
